.reserva
	.slick-next
	.slick-prev
		&:before
			color #689a62
			font-size 60px
	.informacion	
		.titulother	
			padding 0
			background #689a62	
			color white
			width 400px
			padding-left 15px		
			
.titulreserva
	font-family jungle
	color #689a62		
	margin 1em auto
	font-size 3.8em	
	text-align center

		
.slick-slide 
	img		
		height 450px
		margin auto
		
.slick-next
.slick-prev		
	width 60px !important
	height 60px !important

.slick-next
	right -50px	!important	
.slick-prev	
	left -50px !important