.slider	
	position relative
	height 250px	
	.camera_wrap
		position relative !important
	.logo
		position absolute
		width 100px
		top 0
		left 10px
	.img1
		position absolute
		bottom 0
		left 50%
		transform translateX(-50%)
		width 100%
		background rgba(black,0.4)
		padding-top 1em
		box-shadow -10px -11px 20px rgba(black,.4)
		h1
			font-size 1.5em
			
@media (min-width:667px)
	.slider 
		.logo
			width 150px	
		.img1
			h1
				font-size 2em	
			
			
@media (min-width:768px)
	.slider
		height 350px				
		.img1
			h1
				font-size 2.3em
				color white
			.subtitul-slider
				margin-top 0
				text-align center
				font-family subtitul
				
@media (min-width:1024px)
	.slider
		height 450px	
		

@media (min-width:1300px)
	.slider
		height 550px
		.img1		
			h1
				font-size 3em
		.logo
			top 10px
			left 10px
			width 250px		
		
@media (min-width:1400px)	
	.slider
		height 600px	